<!DOCTYPE HTML>

<html>

<head>
	<title>Bike Blackspot</title>

	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>
	<header>
		
	</header>

	<div class="rotating-page-container">
		<h1 id="main-heading">Welcome to Bike Blackspot</h1>
		<h2>A Greens party initiative bringing you better, safer</h2>
		<h2>bike paths through a mobile application</h2>

		<div id="app-download-link-wrapper">
			<a id="itunes-link" href="#">
				<img id="itunes-badge" alt="download now at i tunes" src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
			</a>
		</div>
	</div>

	<footer>
		<p>Disclaimer disclaimer...</p>
	</footer>
</body>

</html>