/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'greens-headings-font';
  src: url("/fonts/BebasNeue.otf"); }
@font-face {
  font-family: 'greens-body-font';
  src: url("/fonts/Swiss721LightCondensedBT.ttf"); }
.info-window {
  clear: both; }

.info-window-text {
  float: left;
  margin-right: 15px;
  max-width: 225px; }
  .info-window-text h4 {
    font-weight: bold;
    margin-top: 0.6vh; }
  .info-window-text p {
    overflow-wrap: break-word;
    margin-top: 0.3vh; }

.info-window-image {
  float: right; }
  .info-window-image img {
    max-width: 140px; }

h1 {
  display: block;
  font-family: greens-headings-font;
  margin: 0 0 2vh;
  font-size: 3.5em; }

#main-heading {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 4em;
  margin: 0 0 2vh; }

h2 {
  display: block;
  font-family: greens-headings-font;
  font-size: 2.8em;
  color: #3CB8C8;
  margin-bottom: 5px; }

h3 {
  display: block;
  font-family: greens-body-font;
  text-align: center;
  margin: 0 0 0.5vh;
  font-size: 25px;
  line-height: 1.3em;
  text-shadow: 2px 2px 6px #555555; }

p {
  margin: 0;
  font-family: greens-body-font;
  font-size: 1.1em;
  line-height: 1.25em; }

header {
  position: absolute;
  right: 0;
  width: 100%; }

header a {
  color: #fff;
  text-decoration: none;
  font-family: greens-body-font;
  padding: 0.25em 0.5em;
  display: block;
  float: right; }

header ul {
  width: auto;
  height: auto;
  float: right;
  height: 30px;
  margin-right: 10px; }

li {
  width: 70px;
  list-style: none;
  float: left; }

header img {
  width: 20px;
  margin-right: 8px;
  margin-top: 5px;
  position: relative;
  top: 4px; }

body {
  font-size: 100%; }

footer {
  margin: 10vh 10vw 4vh 10vw;
  height: 40px;
  position: relative; }

footer p {
  font-size: 0.8em; }

#footer-text {
  margin-left: 5em;
  position: absolute; }

#page-1 {
  background-image: url("/images/bike_background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  color: #fff; }

#page-2 {
  padding: 1px;
  height: auto; }

#main-description {
  margin: 0 auto;
  max-width: 60vw; }

#itunes-link {
  display: block;
  width: 170px;
  margin: 0 auto; }

#itunes-link img {
  width: 100%; }

#app-download-link-wrapper {
  margin-top: 5vh; }

#map-canvas {
  height: 80vh;
  width: 80%;
  margin: 8vh 10vw 0vh 10vw; }

#container-div {
  margin: 2vh 10vw; }

#info {
  padding-top: 30px; }

.page-container {
  padding: 1px;
  height: 100vh; }

.text-wrapper {
  position: relative;
  top: 33.34%; }
  @media (max-width: 768px) {
    .text-wrapper {
      top: 25%; } }

.blue {
  color: #3CB8C8; }

#greens-logo {
  width: 55px;
  float: left; }

section {
  margin: 10vh 0vw; }

.left_column {
  width: 60vw; }

.capitalise {
  text-decoration: uppercase; }

/*# sourceMappingURL=index.css.map */
