@import 'reset';
@import 'fonts';
@import 'breakpoints';
@import 'gmapsinfowindow';

h1 {
	display: block;
	font-family: greens-headings-font;
	margin: 0 0 2vh;
	font-size: 3.5em;
}

#main-heading {
	text-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
	text-align: center;
	font-size: 4em;
	margin: 0 0 2vh;
}

h2 {
	display: block;
	font-family: greens-headings-font;
	font-size: 2.8em;
	color: #3CB8C8;
	margin-bottom: 5px;
}

h3 {
	display: block;
	font-family: greens-body-font;
	text-align: center;
	margin: 0 0 0.5vh;
	font-size: 25px;
	line-height: 1.3em;
	text-shadow: 2px 2px 6px #555555;
}

p {
	margin: 0;
	font-family: greens-body-font;
	font-size: 1.1em;
	line-height: 1.25em;
}

body {
	font-size: 100%;
}

footer {
	margin: 10vh 10vw 4vh 10vw;
	height: 40px;
	position: relative;
}

footer p {
	font-size: 0.8em;
}

#footer-text {
	margin-left: 5em;
	position: absolute;
}

#page-1 {
	background-image: url("/images/bike_background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	color: #fff;
}

#page-2 {
	padding: 1px;
	height: auto;
}

#main-description {
	margin: 0 auto;
	max-width: 60vw;
}

#itunes-link {
	display: block;
	width: 200px;
	margin: 0 auto;
}

#itunes-link img {
	width: 100%;
}

#app-download-link-wrapper {
	margin-top: 5vh;
}

#map-canvas {
	height: 80vh;
	width: 80%;
	margin: 8vh 10vw 0vh 10vw;
}

#container-div {
	margin: 2vh 10vw;
}



.page-container {
	padding: 1px;
	height: 100vh;
}

.text-wrapper {
	position: relative;
	top: 33.34%;
	@include breakpoint(ipad) { top: 25%; }
}

.blue {
	color: #3CB8C8;
}

#greens-logo {
	width: 55px;
	float: left;
}

section {
	margin: 10vh 0vw;
}

.left_column {
	width: 60vw;
}