@import 'reset';
@import 'fonts';
@import 'breakpoints';
@import 'gmapsinfowindow';

h1 {
	display: block;
	font-family: greens-headings-font;
	text-align: center;
	margin: 0 0 2vh;
	font-size: 4em;
	text-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
}

h2 {
	display: block;
	font-family: greens-body-font;
	text-align: center;
	margin: 0 0 0.5vh;
	font-size: 1.6em;
	line-height: 1.3em;
	text-shadow: 2px 2px 6px #555555;
}

p {
	margin: 0;
}

footer {
	background: black;
	color: white;
	padding: 1cm;
}

#page-1 {
	background-image: url("/images/bike_background.jpg");
	background-position: center top;
	background-size: 100%;
	color: #fff;
}

#page-2 {
	background: #fff;
}

#page-3 {
	background: purple;
}

#main-description {
	margin: 0 auto;
	max-width: 50vw;
}

#itunes-link {
	display: block;
	width: 150px;
	margin: 0 auto;
}

#map-canvas {
	height: 80%;
	width: 80%;
	margin: 10vh 10vw;
}

#app-download-link-wrapper {
	margin-top: 4vh;
}

.page-container {
	padding: 1px;
	height: 100vh;
}

.text-wrapper {
	position: relative;
	top: 33.34%;
	@include breakpoint(ipad) { top: 25%; }
}


