
@mixin breakpoint($screen) {
  @if $screen == ipad-landscape {
   @media (max-width: 1024px) { @content; }
  }
  @else if $screen == ipad {
    @media (max-width: 768px) { @content; }
  }
  @else if $screen == iphone5-portrait {
    @media (max-width: 640px) { @content; }
  }
}