.info-window {
	display: table-row;
}

.info-window-text {
	margin-right: 15px;
	max-width: 225px;

	display: table-cell;
	vertical-align: top;

	@include breakpoint(ipad) { 
		max-width: 250px;
		display: table-row;
	}

	& h4 {
		font-weight: bold;
		margin-top: 0.6vh;
		@include breakpoint(ipad) { font-size: 1.5em };
	}

	& p {
		overflow-wrap: break-word; 
		margin-top: 0.3vh;
		@include breakpoint(ipad) { font-size: 1.2em };
	}
}

.info-window-image {
	display: table-cell;
	vertical-align: middle;
	width: 140px;

	@include breakpoint(ipad) { 
		display: table-row;
	}

	& img {
		max-width: 140px;

		@include breakpoint(ipad) { 
			margin-top: 8px;
		}
	}
}