@import 'reset';
@import 'fonts';
@import 'breakpoints';
@import 'gmapsinfowindow';
@import 'modal';

h1, h4 {
	display: block;
	font-family: greens-headings-font;
	margin: 0 0 2vh;
	font-size: 3.3em;

	@include breakpoint(iphone5-portrait) {
		font-size: 2.8em;
	}
}

#main-heading, #sub-heading {
	text-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
	text-align: center;

	@include breakpoint(iphone5-portrait) {
		font-size: 2.9em;
		margin: 0 1vw 2vh 1vw;
	}
}

#main-heading {
	font-size: 4.5em;
	margin: 1.5vw;
}

#heading-seperator {
	width: 100%;

	span:nth-child(2) { padding: 0 10px; }
	span:nth-child(1), span:nth-child(3) {
		width: 35%;
		display: inline-block;
		text-align: center;
		border-bottom: 2px solid white;
		line-height: 0.1em;
		margin: 5px 0;
	}	
}

#sub-heading {
	font-size: 2.2em;
	font-family: greens-body-font;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	padding-top: 5px;
	margin: 1vw;
}

h2 {
	display: block;
	font-family: greens-headings-font;
	font-size: 2.8em;
	color: #3CB8C8;
	margin-bottom: 5px;

	@include breakpoint(iphone5-portrait) {
		font-size: 2.3em;
	}
}

h3 {
	display: block;
	font-family: greens-body-font;
	text-align: center;
	margin: 0 0 0.5vh;
	font-size: 1.3em;
	line-height: 1.3em;
	text-shadow: 2px 2px 6px #555555;

	@include breakpoint(iphone5-portrait) {
		font-size: 1.1em;
	}
}

p {
	margin: 0;
	font-family: greens-body-font;
	font-size: 1.2em;
	line-height: 1.25em;
}

header {
	position: absolute;
	right: 0;
	width: 100%;
}

header a {
	color: #fff;
	text-decoration: none;
	font-family: greens-body-font;
	padding: 0.25em 0.5em; 
	display: block; 
	float: right;
}

header ul {
	width: auto;
	height: auto;
	float: right;
	height: 30px;
	margin-right: 10px;
}

li {
	width: 70px;
	list-style: none;
	float: left;
}

header img {
	width: 20px;
	margin-right: 8px;
	margin-top: 5px;
	position: relative;
	top: 4px;
}

body {
	font-size: 100%;
}

footer {
	margin: 10vh 10vw 4vh 10vw;
	height: 40px;
	position: relative;
}

footer p {
	font-size: 0.8em;
	position: relative;
	top: 7px;
	
	@include breakpoint(iphone5-portrait) {
		font-size: 0.7em;
		top: -1px;
		font-weight: bold;
	}
}

#footer-text {
	margin-left: 5em;
	position: absolute;
}

#page-1 {
	background-image: url("https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/bike_background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	color: #fff;
	@include breakpoint(ipad) {
		background-image: url("https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/bike_background_medium_compressed.jpg")
	}
	@include breakpoint(iphone5-portrait) {
		background-image: url("https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/bike_background_small_compressed.jpg")
	}
}

#page-2 {
	padding: 1px;
	height: auto;
}

.left_column {
	width: 60vw;
	@include breakpoint(iphone5-portrait) {
		width: 100%;
	}
}

#itunes-link, #gplay-link {
	display: inline-block;
	margin: 0 5px;
}

#itunes-link img, #gplay-link img {
	height: 40px;
}

#app-download-link-wrapper {
	margin-top: 3vh;
	text-align: center;
}

#arrow-img {
	display: block;
	margin: 40px auto;
	width: 30px;
	@include breakpoint(iphone5-portrait) {
		margin: 20px auto;
	}
}

#arrow-img img {
	width: 30px;
}

#up-arrow {
	float: right;
	color: #3CB8C8;
	@include breakpoint(iphone5-portrait) {
		position: relative;
		bottom: 60px;
		margin: 0 auto;
	}
}

#up-arrow a {
	text-decoration: none;
}

#up-arrow img {
	width: 30px;
}

#blue-text {
	font-family: greens-body-font;
	margin-right: 10px;
	position: relative;
	top: -8px;
	color: #3CB8C8;
}

#map-canvas {
	height: 80vh;
	width: 80%;
	margin: 8vh 10vw 0vh 10vw;
	@include breakpoint(ipad) {
		height: 50vh
	}
}


#container-div {
	margin: 2vh 10vw;
}

#info  {
	padding-top: 30px;
}

#app-icon {
	margin: 5vh auto;
	width: 50px;
}

#app-icon img {
	width: 50px;
}

.page-container {
	padding: 1px;
	height: 100vh;
}

.text-wrapper {
	position: relative;
	top: 22%;
	margin: 0px 10px;
	@include breakpoint(ipad) { top: 15%; }
}

.blue {
	color: #3CB8C8;
}

#greens-logo {
	width: 55px;
	float: left;
}

section {
	margin: 10vh 0vw;
}

.capitalise {
	text-decoration: uppercase;
}

@media screen and (max-width: 800px) {
	#main-heading-1 { font-size: 1.5em; }
}

/*# sourceMappingURL=index.css.map */
