/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'greens-headings-font';
  src: url("/fonts/BebasNeue.otf"); }
@font-face {
  font-family: 'greens-body-font';
  src: url("/fonts/Swiss721LightCondensedBT.ttf"); }
.info-window {
  display: table-row; }

.info-window-text {
  margin-right: 15px;
  max-width: 225px;
  display: table-cell;
  vertical-align: top; }
  @media (max-width: 768px) {
    .info-window-text {
      max-width: 250px;
      display: table-row; } }
  .info-window-text h4 {
    font-weight: bold;
    margin-top: 0.6vh; }
    @media (max-width: 768px) {
      .info-window-text h4 {
        font-size: 1.5em; } }
  .info-window-text p {
    overflow-wrap: break-word;
    margin-top: 0.3vh; }
    @media (max-width: 768px) {
      .info-window-text p {
        font-size: 1.2em; } }

.info-window-image {
  display: table-cell;
  vertical-align: middle;
  width: 140px; }
  @media (max-width: 768px) {
    .info-window-image {
      display: table-row; } }
  .info-window-image img {
    max-width: 140px; }
    @media (max-width: 768px) {
      .info-window-image img {
        margin-top: 8px; } }

#modal {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 235px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  z-index: 1;
  min-height: 235px;
  max-height: 240px; }
  @media (max-width: 768px) {
    #modal {
      width: 75%;
      height: 65%; }
      #modal h2 {
        font-size: 2.6em; } }
  @media (max-width: 400px) {
    #modal {
      width: 75%;
      height: 55%; }
      #modal h2 {
        font-size: 2.3em; } }
  @media (max-width: 640px) and (max-height: 320px) {
    #modal {
      width: 75%;
      height: 65%; }
      #modal h2 {
        font-size: 1.8em; }
      #modal p {
        font-size: 1.1em; } }

.confirmation {
  vertical-align: middle;
  padding-right: 1%;
  padding-left: 1%; }
  .confirmation button {
    margin: 10px;
    margin-top: 5%;
    width: 25%;
    height: auto;
    font-family: greens-headings-font;
    font-size: 1.5em;
    background-color: #ffcc29;
    border: none;
    border-radius: 2px; }

.close {
  right: 0;
  top: 0;
  padding: 10px;
  border: none;
  outline: none;
  background-color: none; }

.close:hover {
  cursor: pointer; }

.shift-right {
  text-align: right; }

h1, h4 {
  display: block;
  font-family: greens-headings-font;
  margin: 0 0 2vh;
  font-size: 3.3em; }
  @media (max-width: 400px) {
    h1, h4 {
      font-size: 2.8em; } }

#main-heading, #sub-heading {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  text-align: center; }
  @media (max-width: 400px) {
    #main-heading, #sub-heading {
      font-size: 2.9em;
      margin: 0 1vw 2vh 1vw; } }

#main-heading {
  font-size: 2.5em;
  margin: 0; }

#main-heading-1 {
  font-size: 2.6em; }

#sub-heading {
  font-size: 1.5em;
  margin: 1vw; }

h2 {
  display: block;
  font-family: greens-headings-font;
  font-size: 2.8em;
  color: #3CB8C8;
  margin-bottom: 5px; }
  @media (max-width: 400px) {
    h2 {
      font-size: 2.3em; } }

h3 {
  display: block;
  font-family: greens-body-font;
  text-align: center;
  margin: 0 0 0.5vh;
  font-size: 1.3em;
  line-height: 1.3em;
  text-shadow: 2px 2px 6px #555555; }
  @media (max-width: 400px) {
    h3 {
      font-size: 1.1em; } }

p {
  margin: 0;
  font-family: greens-body-font;
  font-size: 1.2em;
  line-height: 1.25em; }

header {
  position: absolute;
  right: 0;
  width: 100%; }

header a {
  color: #fff;
  text-decoration: none;
  font-family: greens-body-font;
  padding: 0.25em 0.5em;
  display: block;
  float: right; }

header ul {
  width: auto;
  height: auto;
  float: right;
  height: 30px;
  margin-right: 10px; }

li {
  width: 70px;
  list-style: none;
  float: left; }

header img {
  width: 20px;
  margin-right: 8px;
  margin-top: 5px;
  position: relative;
  top: 4px; }

body {
  font-size: 100%; }

footer {
  margin: 10vh 10vw 4vh 10vw;
  height: 40px;
  position: relative; }

footer p {
  font-size: 0.8em;
  position: relative;
  top: 7px; }
  @media (max-width: 400px) {
    footer p {
      font-size: 0.7em;
      top: -1px;
      font-weight: bold; } }

#footer-text {
  margin-left: 5em;
  position: absolute; }

#page-1 {
  background-image: url("https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/bike_background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  color: #fff; }
  @media (max-width: 768px) {
    #page-1 {
      background-image: url("https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/bike_background_medium_compressed.jpg"); } }
  @media (max-width: 400px) {
    #page-1 {
      background-image: url("https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/bike_background_small_compressed.jpg"); } }

#page-2 {
  padding: 1px;
  height: auto; }

.left_column {
  width: 60vw; }
  @media (max-width: 400px) {
    .left_column {
      width: 100%; } }

#itunes-link {
  display: block;
  width: 170px;
  margin: 0 auto; }

#itunes-link img {
  width: 100%; }

#app-download-link-wrapper {
  margin-top: 3vh; }

#arrow-img {
  display: block;
  margin: 40px auto;
  width: 30px; }
  @media (max-width: 400px) {
    #arrow-img {
      margin: 20px auto; } }

#arrow-img img {
  width: 30px; }

#up-arrow {
  float: right;
  color: #3CB8C8; }
  @media (max-width: 400px) {
    #up-arrow {
      position: relative;
      bottom: 60px;
      margin: 0 auto; } }

#up-arrow a {
  text-decoration: none; }

#up-arrow img {
  width: 30px; }

#blue-text {
  font-family: greens-body-font;
  margin-right: 10px;
  position: relative;
  top: -8px;
  color: #3CB8C8; }

#map-canvas {
  height: 80vh;
  width: 80%;
  margin: 8vh 10vw 0vh 10vw; }
  @media (max-width: 768px) {
    #map-canvas {
      height: 50vh; } }

#container-div {
  margin: 2vh 10vw; }

#info {
  padding-top: 30px; }

#app-icon {
  margin: 5vh auto;
  width: 50px; }

#app-icon img {
  width: 50px; }

.page-container {
  padding: 1px;
  height: 100vh; }

.text-wrapper {
  position: relative;
  top: 22%;
  margin: 0px 10px; }
  @media (max-width: 768px) {
    .text-wrapper {
      top: 15%; } }

.blue {
  color: #3CB8C8; }

#greens-logo {
  width: 55px;
  float: left; }

section {
  margin: 10vh 0vw; }

.capitalise {
  text-decoration: uppercase; }

@media screen and (max-width: 800px) {
  #main-heading-1 {
    font-size: 1.5em; } }
/*# sourceMappingURL=index.css.map */

/*# sourceMappingURL=index.css.map */
