
<!DOCTYPE HTML>

<html>

	<head>
		<title>Bike Blackspot Admin</title>
		<link rel="stylesheet" href="/styles/admin.css">
	</head>

	<body>
		<header>

		</header>

		<div class="central-col">
			<h1>Export Data</h1>
			<p>Here you can download an export of the currently submitted reports as a CSV</p>
			<button id="export-csv">Export CSV</button>

			<h1>Email List</h1>
			<table>
				<colgroup>
			        <col width="30%">
			        <col width="30%">
			        <col width="30%">
			        <col width="10%">
			    </colgroup>
				<thead>
					<td>Name</td>
					<td>Email</td>
					<td>State</td>
					<td></td>
				</thead>
				<tbody>
				<% @recipients.each do |recipient| %>
					<tr>
					<% recipient.map do |row| %>
						<% if row.first == 'name' %>
							<td><%= row[1] %></td>
						<% elsif row.first == 'email' %>
							<td><%= row[1] %></td>
						<% elsif row.first == 'state' %>
							<td><%= row[1] %></td>
						<% end %>
					<% end %>
					<td>delete</td>
					</tr>
				<% end %>
					<tr>
						<td>Name</td>
						<td>Email</td>
						<td>State</td>
						<td>delete</td>
					</tr>
				</tbody>
			</table>
		</div>

		<footer>
			<p>Disclaimer disclaimer...</p>
		</footer>

	</body>

</html>

