<!DOCTYPE HTML>

<html lang="en">

<head>
	<title>Bike Blackspot</title>
	<link rel="stylesheet" href="/styles/index.css">

	<script src="https://maps.googleapis.com/maps/api/js"></script>

</head>

<body>
	<header>
		<ul>
			<li><a href="#page-2" aria-label="go to map"><img src="/images/map-shadow.png" alt="map icon" aria-hidden="true">Map</a></li>
			<li><a href="#info" aria-label="go to more information"><img src="/images/info-shadow.png" alt="information icon" aria-hidden="true">Info</a></li>
		</ul>
	</header>

	<div id="page-wrapper">

		<div id="page-1" class="page-container">
			<div class="text-wrapper">
				<h1 id="main-heading">Welcome to Bike Blackspot</h1>
				<div id="main-description">
					<h3>A mobile application that enables you to submit reports about “black spots”, or areas that require improvement on bicycle paths. </h3>
				</div>	
				<div id="app-download-link-wrapper">
					<a id="itunes-link" href="#" aria-label="download now at i tunes">
						<img id="itunes-badge" alt="download now at i tunes" aria-hidden="true" src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
					</a>
				</div>
				<a id="arrow-img" href="#page-2" aria-label="go down to map"><img src="/images/arrow.png" alt="arrow icon"></a>
			</div>
		</div>

		<div id="page-2">
			<div id="map-canvas" aria-hidden="true"></div>
			<div id="container-div">
				<p>Click on the spots on the map to see reports that have been submitted through the app.</p>
				<section id="info"><div class="left_column"><h1><span class="blue capitalise">Let's take care of your bike paths</span> so they take care of your safety and clean transport needs</h1></div></section>
				<section>
				<h2 class="capitalise">Why was this app made?</h2>
				<p>The Australian Greens have repeatedly requested that cycling receive federal transport funding. Last year, we made a budget submission for $80 million, however this was rejected by the government.
				The National Cycling Strategy, agreed to by State and Federal Governments, set a target to double the rate of cycling by 2016, with no funding attached. Meanwhile the Victorian government has slashed its cycling budget and WA is barely catching up to the funding levels that existed in the mid 1990s.
				We want to change that and will make the case using for substantial and sustained funding for cycling the Bike Blackspot campaign.
				Cyclists around Australia who are fed up with being endangered, ignored and neglected by Governments are invited to share your experiences of our nation’s bike blackspots and help us to make the case for why cycling funding is urgently needed.</p>
				</section>
				<section>
				<h2 class="capitalise">Who does the data get sent to?</h2>
				<p>Your feedback is sent to your state transport minister, the federal transport minister and Senator Scott Ludlam plus the Greens transport spokesperson for your state. Your report is also logged on the bike blackspot map and will be used to make the case for better bike funding.</p>
				</section>
				<section>
				<h2 class="capitalise">What will the data be used for?</h2>
				<p>The information collected will be used to lobby for serious funding for cycling infrastructure to build a better bike network.</p>
				</section>
				<section>
				<h2 class="capitalise">What if I don't have an iphone?</h2>
				<p>If you don’t have an iPhone, simply email your feedback with the location and a photo of the blackspot to Senator.Rice@aph.gov.au.</p>
				</section>
			</div>
		</div>

	</div>

	<footer>
		<img id="greens-logo" alt="greens party logo" src="/images/Greens_logo_RBG.jpg" />
		<div id="footer-text">
			<p>This is a campaign of the Australian Greens. <br>Authorised by Senator Janet Rice, 240 <br> Sydney Rd Coburg VIC 3058.</p>
		</div>
		<div id="up-arrow"><a href="#page-1" aria-label="go to top"><span id="blue-text" aria-hidden="true">Back to top</span><img alt="up arrow" src="/images/arrow-blue.png" aria-hidden="true"></a></div>
	</footer>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/scripts/maps.js"></script>
<script>
	google.maps.event.addDomListener(window, 'load', initialiseMaps);

	/* Smooth Scroll */
	$('a[href*=#]').click(function(event){
	    $('html, body').animate({
	        scrollTop: $( $.attr(this, 'href') ).offset().top
	    }, 500);
	    event.preventDefault();
	});
</script>

</html>