<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bike Blackspot</title>
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="shortcut icon" media="all" type="image/x-icon" href="/images/favicon.ico"  />
   	<link rel="icon" media="all" type="image/vnd.microsoft.icon" href="/images/favicon.ico"  />
	<script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
		ga('create', 'UA-66025010-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>

<body>
	<header>
		<ul>
			<li><a href="#page-2" aria-label="go to map"><img src="/images/map-shadow.png" alt="map icon" aria-hidden="true">Map</a></li>
			<li><a href="#info" aria-label="go to more information"><img src="/images/info-shadow.png" alt="information icon" aria-hidden="true">Info</a></li>
		</ul>
	</header>

    <% if (confirm=='true') %>
    <div id="modal">
			<div class="shift-right">
        	<img  class="close" onclick="$('#modal').css('display', 'none')" src="/images/close.png">
        </div>
      <div class="confirmation">
        <h2>SUCCESS! YOUR EMAIL HAS BEEN VERIFIED</h2>
        <p>Thanks for your help in keeping Australia’s bike paths safe.</p>
        <button onclick="$('#modal').css('display', 'none')">Ok</button>
      </div>
    </div>
    <% end %>

	<div id="page-wrapper">

		<div id="page-1" class="page-container">
			<div class="text-wrapper" align="center">
				<h1 id="main-heading">LET’S MAKE CYCLING SAFER AND EASIER</h1>
				<p id="heading-seperator"><span></span><span>WITH</span><span></span></p>
				<h1 id="sub-heading">The Bike Blackspot campaign</h1>
				<div id="app-icon"><img src="/images/app_store_icon@3x.png" alt="app-icon" /></div>
				<div id="main-description">
					<h3>Get the app and log your local bike blackspots.<br>Together we can lobby for a better bike network.</h3>
				</div>
				<div id="app-download-link-wrapper">
					<a id="gplay-link" href="https://play.google.com/store/apps/details?id=org.bikeblackspot" target="blank" aria-label="Download now at Google Play">
						<img alt="Android app on Google Play"
					       src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
					</a>
					<a id="itunes-link" href="https://itunes.apple.com/us/app/blackspot/id1034673653?ls=1&mt=8" target="blank" aria-label="Download now at iTunes">
						<img id="itunes-badge" alt="download now at i tunes" aria-hidden="true" src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
					</a>
				</div>
				<a id="arrow-img" href="#page-2" aria-label="go down to map"><img src="/images/arrow.png" alt="arrow icon"></a>
			</div>
		</div>

		<div id="page-2">
			<div id="map-canvas" aria-hidden="true"></div>
			<div id="container-div">
				<p>Click on the spots on the map to see reports that have been submitted through the app.</p>
				<section id="info"><div class="left_column"><h2><span class="blue capitalise">Let's make cycling safer and easier</span></h2></div>
				<p>Cyclists around Australia are fed up with being endangered, ignored and neglected by Governments. You're invited to share your experiences of our nation’s Bike Blackspots and help us demonstrate why cycling funding is urgently needed.</p>
				</section>
				<section>
				<h2 class="capitalise">Together let's build a better cycle network</h2>
				<p>Together we can build the case for substantial and sustained funding for cycling infrastructure, by reporting potential improvements and danger zones in our local areas.</p>
				</section>
				<section>
				<h2 class="capitalise">How does the app work?</h2>
				<p>When you log a report, your feedback is sent directly via email to your state transport minister, the federal transport minister and your Greens transport spokespeople at state and federal levels. Your report is also logged on the Bike Blackspot map. All reports will be collated and used to make the case for better bike funding and fixes.</p>
				</section>
				<section>
				<h2 class="capitalise">Tell us more</h2>
				<p>Contact <a href="mailto:admin@bikeblackspot.org" target="_top">admin@bikeblackspot.org</a> with any additional comments or ideas you've got to make cycling safer and more enjoyable for all Australians. Can't get the app? Simply email your feedback with the location  and a photo (optional) of the blackspot to <a href="mailto:admin@bikeblackspot.org" target="_top">admin@bikeblackspot.org</a></p>
				</section>
			</div>
		</div>
	</div>

	<footer>
		<img id="greens-logo" alt="greens party logo" src="/images/Greens_logo_RBG.jpg" />
		<div id="footer-text">
			<p>This is a campaign of the Australian Greens. <br>Authorised by Senator Janet Rice, 240 Sydney Rd Coburg VIC 3058.<br><a href="http://greensmps.org.au/privacy" target="blank">Privacy Policy</a></p>
		</div>
		<div id="up-arrow"><a href="#page-1" aria-label="go to top"><span id="blue-text" aria-hidden="true">Back to top</span><img alt="up arrow" src="/images/arrow-blue.png" aria-hidden="true"></a></div>
	</footer>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/scripts/maps.js"></script>
<script>
	google.maps.event.addDomListener(window, 'load', initialiseMaps);

	/* Smooth Scroll */
	$('a[href*=#]').click(function(event){
	    $('html, body').animate({
	        scrollTop: $( $.attr(this, 'href') ).offset().top
	    }, 500);
	    event.preventDefault();
	});
</script>
</html>
