<!DOCTYPE HTML>

<html>

<head>
	<title>Bike Blackspot</title>
	<link rel="stylesheet" href="/styles/index.css">

	<script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

<body>
	<header>

	</header>

	<div id="page-wrapper">

		<div id="page-1" class="page-container">
			<div class="text-wrapper">
				<h1 id="main-heading">Welcome to Bike Blackspot</h1>
				<div id="main-description">
					<h2>A Greens party initiative bringing you better, safer bike paths through a mobile application</h2>
				</div>	
				<div id="app-download-link-wrapper">
					<a id="itunes-link" href="#" aria-label="download now at i tunes">
						<img id="itunes-badge" alt="download now at i tunes" aria-hidden="true" src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
					</a>
				</div>
			</div>
		</div>

		<div id="page-2" class="page-container">
			<h2>Map Data</h2>
			<div id="map-canvas" aria-hidden="true"></div>
		</div>

		<div id="page-3" class="page-container">
			<h1>This is the 3rd page!</h1>
		</div>

	</div>

	<footer>
		<p>Disclaimer disclaimer...</p>
	</footer>

</body>

<script>
	var latlongs = [new google.maps.LatLng(-25.363882,131.044922),
	 new google.maps.LatLng(-26,140),
	 new google.maps.LatLng(-27.4667, 153.0333),
	 new google.maps.LatLng(-27.4680, 153.0328)];

  	function initialize() {
	  	var mapCanvas = document.getElementById('map-canvas');
	    var mapOptions = {
			scrollwheel: false,
			center: new google.maps.LatLng(-27.4667, 153.0333),
			zoom: 12,
			mapTypeId: google.maps.MapTypeId.ROADMAP
	    }
	    var map = new google.maps.Map(mapCanvas, mapOptions);

	    latlongs.forEach(function(latlong){
	    	new google.maps.Marker({
	    		position: latlong,
	    		map: map
	    	})
	    })
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

</html>